# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched top-to-bottom, so one team can own subdirectories
# and another team can own the rest of the directory. Last matching
# pattern is the one used.

# Default owners of everything in the repo
*                                @datadog/api-clients @datadog/web-frameworks

# API
/datadog/api/                    @datadog/api-clients @datadog/web-frameworks
/tests/integration/api/          @datadog/api-clients @datadog/web-frameworks
/tests/unit/api/                 @datadog/api-clients @datadog/web-frameworks

# Dogshell
/datadog/dogshell/               @datadog/api-clients @datadog/web-frameworks
/tests/integration/dogshell/     @datadog/api-clients @datadog/web-frameworks

# Dogstatd
/datadog/dogstatsd/              @datadog/api-clients @datadog/web-frameworks @DataDog/agent-metrics-logs
/datadog/util/                   @datadog/api-clients @datadog/web-frameworks @DataDog/agent-metrics-logs
/tests/integration/dogstatsd/    @datadog/api-clients @datadog/web-frameworks @DataDog/agent-metrics-logs
/tests/unit/dogstatsd/           @datadog/api-clients @datadog/web-frameworks @DataDog/agent-metrics-logs
/tests/unit/util/                @datadog/api-clients @datadog/web-frameworks @DataDog/agent-metrics-logs
/tests/util/                     @datadog/api-clients @datadog/web-frameworks @DataDog/agent-metrics-logs
/tests/performance/test_statsd_* @datadog/api-clients @datadog/web-frameworks @DataDog/agent-metrics-logs

# Threadstats
/datadog/threadstats/            @datadog/api-clients @datadog/web-frameworks @DataDog/agent-metrics-logs
/tests/unit/threadstats/         @datadog/api-clients @datadog/web-frameworks @DataDog/agent-metrics-logs

# Documentation
*.md                             @DataDog/documentation @datadog/api-clients @datadog/web-frameworks
LICENSE                          @DataDog/documentation @datadog/api-clients @datadog/web-frameworks
