# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched top-to-bottom, so one team can own subdirectories
# and another team can own the rest of the directory. Last matching
# pattern is the one used.

# Default owners of everything in the repo
*                                @DataDog/web-frameworks

# API
/datadog/api/                    @DataDog/web-frameworks
/tests/integration/api/          @DataDog/web-frameworks
/tests/unit/api/                 @DataDog/web-frameworks

# Dogshell
/datadog/dogshell/               @DataDog/web-frameworks
/tests/integration/dogshell/     @DataDog/web-frameworks

# Dogstatd
/datadog/dogstatsd/              @DataDog/web-frameworks @DataDog/agent-metrics-logs
/datadog/util/                   @DataDog/web-frameworks @DataDog/agent-metrics-logs
/tests/integration/dogstatsd/    @DataDog/web-frameworks @DataDog/agent-metrics-logs
/tests/unit/dogstatsd/           @DataDog/web-frameworks @DataDog/agent-metrics-logs
/tests/unit/util/                @DataDog/web-frameworks @DataDog/agent-metrics-logs
/tests/util/                     @DataDog/web-frameworks @DataDog/agent-metrics-logs
/tests/performance/test_statsd_* @DataDog/web-frameworks @DataDog/agent-metrics-logs

# Threadstats
/datadog/threadstats/            @DataDog/web-frameworks @DataDog/agent-metrics-logs
/tests/unit/threadstats/         @DataDog/web-frameworks @DataDog/agent-metrics-logs

# Documentation
*.md                             @DataDog/documentation @DataDog/web-frameworks
LICENSE                          @DataDog/documentation @DataDog/web-frameworks
