language: python
python:
  - "2.7"
  - "pypy"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
install:
  - pip install flake8==3.4.1
script:
  - if [[ $TRAVIS_PYTHON_VERSION == '3.5' ]]; then flake8 --max-line-length=100 datadog; fi
  - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then python -Wall setup.py test; else python -Wall setup.py test -s tests.unit; fi
