interactions:
- request:
    body: '{"message": null, "name": null, "options": null, "priority": "5", "query":
      "avg(last_1h):sum:system.net.bytes_rcvd{*} by {host} > 100", "tags": ["main",
      "test"], "type": "metric alert"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/monitor
  response:
    body:
      string: '{"id":124582421,"org_id":321813,"type":"metric alert","name":"**system.net.bytes_rcvd**
        over ***** was **> 100.0** on average during the **last 1h**.","message":"","tags":["main","test"],"query":"avg(last_1h):sum:system.net.bytes_rcvd{*}
        by {host} > 100","options":{"notify_no_data":false,"notify_audit":false,"new_host_delay":300,"include_tags":true,"silenced":{}},"multi":true,"created_at":1688758822000,"created":"2023-07-07T19:40:22.396396+00:00","modified":"2023-07-07T19:40:22.396396+00:00","deleted":null,"restricted_roles":null,"priority":5,"overall_state_modified":null,"overall_state":"No
        Data","creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com","id":1445416}}

        '
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '500'
      x-ratelimit-name:
      - post_monitors
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '8'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v1/monitor/124582421
  response:
    body:
      string: '{"id":124582421,"org_id":321813,"type":"metric alert","name":"**system.net.bytes_rcvd**
        over ***** was **> 100.0** on average during the **last 1h**.","message":"","tags":["main","test"],"query":"avg(last_1h):sum:system.net.bytes_rcvd{*}
        by {host} > 100","options":{"notify_no_data":false,"notify_audit":false,"new_host_delay":300,"include_tags":true,"silenced":{}},"multi":true,"created_at":1688758822000,"created":"2023-07-07T19:40:22.396396+00:00","modified":"2023-07-07T19:40:22.396396+00:00","deleted":null,"restricted_roles":null,"priority":5,"overall_state_modified":null,"overall_state":"No
        Data","creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com","id":1445416}}

        '
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '3000'
      x-ratelimit-name:
      - get_monitors
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '2999'
      x-ratelimit-reset:
      - '8'
    status:
      code: 200
      message: OK
- request:
    body: '{"options": {"no_data_timeframe": 20, "notify_no_data": true}, "query":
      "avg(last_1h):sum:system.net.bytes_rcvd{*} by {host} > 100", "type": "metric
      alert"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v1/monitor/124582421
  response:
    body:
      string: '{"id":124582421,"org_id":321813,"type":"metric alert","name":"**system.net.bytes_rcvd**
        over ***** was **> 100.0** on average during the **last 1h**.","message":"","tags":["main","test"],"query":"avg(last_1h):sum:system.net.bytes_rcvd{*}
        by {host} > 100","options":{"no_data_timeframe":20,"notify_no_data":true,"notify_audit":false,"new_host_delay":300,"include_tags":true,"silenced":{}},"multi":true,"created_at":1688758822000,"created":"2023-07-07T19:40:22.396396+00:00","modified":"2023-07-07T19:40:22.763254+00:00","deleted":null,"restricted_roles":null,"priority":5,"overall_state_modified":null,"overall_state":"No
        Data"}

        '
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '500'
      x-ratelimit-name:
      - put_monitors
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '8'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"end": null, "scope": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/monitor/124582421/mute
  response:
    body:
      string: '{"id":124582421,"org_id":321813,"type":"query alert","name":"**system.net.bytes_rcvd**
        over ***** was **> 100.0** on average during the **last 1h**.","message":"monitor
        updated","tags":["main"],"query":"avg(last_15m):sum:system.net.bytes_rcvd{*}
        by {env} > 222","options":{"no_data_timeframe":20,"notify_no_data":true,"notify_audit":false,"new_host_delay":300,"include_tags":true,"silenced":{"*":null}},"multi":true,"created_at":1688758822000,"created":"2023-07-07T19:40:22.396396+00:00","modified":"2023-07-07T19:40:23.152072+00:00","deleted":null,"restricted_roles":null,"priority":4,"overall_state_modified":null,"overall_state":"No
        Data"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"all_scopes": true, "scope": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/monitor/124582421/unmute
  response:
    body:
      string: '{"id":124582421,"org_id":321813,"type":"query alert","name":"**system.net.bytes_rcvd**
        over ***** was **> 100.0** on average during the **last 1h**.","message":"monitor
        updated","tags":["main"],"query":"avg(last_15m):sum:system.net.bytes_rcvd{*}
        by {env} > 222","options":{"no_data_timeframe":20,"notify_no_data":true,"notify_audit":false,"new_host_delay":300,"include_tags":true,"silenced":{}},"multi":true,"created_at":1688758822000,"created":"2023-07-07T19:40:22.396396+00:00","modified":"2023-07-07T19:40:23.152072+00:00","deleted":null,"restricted_roles":null,"priority":4,"overall_state_modified":null,"overall_state":"No
        Data"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v1/monitor/can_delete?monitor_ids=124582421
  response:
    body:
      string: '{"data":{"ok":[124582421]},"errors":null}

        '
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-name:
      - can_delete
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11999'
      x-ratelimit-reset:
      - '36'
    status:
      code: 200
      message: OK
- request:
    body: '{"monitor_ids": [124582421], "name": "test_slo", "thresholds": [{"target":
      90.0, "timeframe": "7d"}], "type": "monitor"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      string: '{"data":[{"id":"af94c6a55ca75b2fa10c3661b3e57925","name":"test_slo","tags":[],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":90.0,"target_display":"90."}],"type":"monitor","type_id":0,"description":"","timeframe":"7d","target_threshold":90.0,"monitor_ids":[124582421],"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1688758824,"modified_at":1688758824}],"error":null}

        '
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '200'
      x-ratelimit-name:
      - slo_create
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '199'
      x-ratelimit-reset:
      - '36'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/af94c6a55ca75b2fa10c3661b3e57925?return_raw=True
  response:
    body:
      string: '{"data":["af94c6a55ca75b2fa10c3661b3e57925"],"error":null}

        '
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '100'
      x-ratelimit-name:
      - slo_delete
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '99'
      x-ratelimit-reset:
      - '6'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/monitor/124582421
  response:
    body:
      string: '{"deleted_monitor_id":124582421}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/monitor/mute_all
  response:
    body:
      string: '{"id":3077996330,"monitor_id":null,"org_id":321813,"start":1688758825,"end":null,"canceled":null,"created":1688758825,"modified":1688758825,"message":null,"active":true,"disabled":false,"recurrence":null,"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":1445416,"updater_id":null,"downtime_type":0,"status":"active","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no
        data","warn"],"uuid":"1eadef98-1cfe-11ee-a347-da7ad0900002","scope":["*"]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/monitor/unmute_all
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"message": null, "name": null, "options": {"thresholds": {"critical":
      200.0}}, "query": "THIS IS A BAD QUERY", "tags": null, "type": "metric alert"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/monitor/validate
  response:
    body:
      string: '{"errors":["The value provided for parameter ''query'' is invalid"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"message": null, "name": null, "options": {"thresholds": {"critical":
      200.0}}, "query": "avg(last_1h):sum:system.net.bytes_rcvd{host:host0} > 200",
      "tags": null, "type": "metric alert"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/monitor/validate
  response:
    body:
      string: '{}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
