interactions:
- request:
    body: '{"cases": [{"condition": "a > 1", "name": "test case", "status": "info"}],
      "isEnabled": true, "message": "Test rule generated via dogshell", "name": "Test
      Rule 93e6bea490920eb10a6cede03c221fc4", "options": {"evaluationWindow": 3600,
      "keepAlive": 3600, "maxSignalDuration": 86400}, "queries": [{"distinctFields":
      [], "groupByFields": [], "name": "a", "query": "source:test"}], "tags": ["test:true",
      "env:frog"], "type": "log_detection"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules
  response:
    body:
      string: '{"name":"Test Rule 93e6bea490920eb10a6cede03c221fc4","createdAt":1743153036588,"isDefault":false,"isPartner":false,"isEnabled":true,"isBeta":false,"isDeleted":false,"isDeprecated":false,"queries":[{"query":"source:test","groupByFields":[],"hasOptionalGroupByFields":false,"distinctFields":[],"aggregation":"count","name":"a","dataSource":"logs"}],"options":{"evaluationWindow":3600,"detectionMethod":"threshold","maxSignalDuration":86400,"keepAlive":3600},"cases":[{"name":"test
        case","status":"info","notifications":[],"condition":"a \u003e 1"}],"message":"Test
        rule generated via dogshell","tags":["env:frog","test:true"],"hasExtendedTitle":false,"type":"log_detection","filters":[],"version":1,"id":"oag-yse-dt1","blocking":false,"metadata":{"entities":null,"sources":null},"creationAuthorId":1445416,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"updater":{"handle":"","name":""}}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-name:
      - security_analytics
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '999'
      x-ratelimit-reset:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules/oag-yse-dt1
  response:
    body:
      string: '{"name":"Test Rule 93e6bea490920eb10a6cede03c221fc4","createdAt":1743153036588,"isDefault":false,"isPartner":false,"isEnabled":true,"isBeta":false,"isDeleted":false,"isDeprecated":false,"queries":[{"query":"source:test","groupByFields":[],"hasOptionalGroupByFields":false,"distinctFields":[],"aggregation":"count","name":"a","dataSource":"logs"}],"options":{"evaluationWindow":3600,"detectionMethod":"threshold","maxSignalDuration":86400,"keepAlive":3600},"cases":[{"name":"test
        case","status":"info","notifications":[],"condition":"a \u003e 1"}],"message":"Test
        rule generated via dogshell","tags":["env:frog","test:true"],"hasExtendedTitle":false,"type":"log_detection","filters":[],"version":1,"id":"oag-yse-dt1","blocking":false,"metadata":{"entities":null,"sources":null},"creationAuthorId":1445416,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"updater":{"handle":"","name":""}}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-name:
      - security_analytics
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '998'
      x-ratelimit-reset:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: '{"cases": [{"condition": "a > 1", "name": "test case", "status": "info"}],
      "isEnabled": true, "message": "Test rule generated via dogshell", "name": "Updated
      Rule 93e6bea490920eb10a6cede03c221fc4", "options": {"evaluationWindow": 3600,
      "keepAlive": 3600, "maxSignalDuration": 86400}, "queries": [{"distinctFields":
      [], "groupByFields": [], "name": "a", "query": "source:test"}], "tags": ["test:true",
      "env:frog"], "type": "log_detection"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules/oag-yse-dt1
  response:
    body:
      string: '{"name":"Updated Rule 93e6bea490920eb10a6cede03c221fc4","isEnabled":true,"queries":[{"query":"source:test","groupByFields":[],"hasOptionalGroupByFields":false,"distinctFields":[],"aggregation":"count","name":"a","dataSource":"logs"}],"options":{"evaluationWindow":3600,"detectionMethod":"threshold","maxSignalDuration":86400,"keepAlive":3600},"cases":[{"name":"test
        case","status":"info","notifications":[],"condition":"a \u003e 1"}],"message":"Test
        rule generated via dogshell","tags":["env:frog","test:true"],"hasExtendedTitle":false,"type":"log_detection","filters":[],"id":"oag-yse-dt1","version":2,"createdAt":1743153036588,"creationAuthorId":1445416,"updateAuthorId":1445416,"updatedAt":1743153037779,"isDefault":false,"blocking":false,"isBeta":false,"isDeleted":false,"isDeprecated":false,"metadata":{"entities":null,"sources":null}}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-name:
      - security_analytics
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '997'
      x-ratelimit-reset:
      - '3'
    status:
      code: 200
      message: OK
[...]
