interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/security_monitoring/signals/abcd1234-abcd-1234-abcd-1234abcd1234
  response:
    body:
      string: '{"errors":["This endpoint has encountered an internal server error"]}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-name:
      - security_analytics
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '998'
      x-ratelimit-reset:
      - '8'
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"data": {"attributes": {"state": "archived"}, "id": "abcd1234-abcd-1234-abcd-1234abcd1234",
      "type": "signal_metadata"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/security_monitoring/signals/abcd1234-abcd-1234-abcd-1234abcd1234/state
  response:
    body:
      string: '{"errors":["This endpoint has encountered an internal server error"]}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-name:
      - security_analytics
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '997'
      x-ratelimit-reset:
      - '8'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"data": {"attributes": {"state": "archived"}, "id": "abcd1234-abcd-1234-abcd-1234abcd1234",
      "type": "signal_metadata"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/security_monitoring/signals/abcd1234-abcd-1234-abcd-1234abcd1234/state
  response:
    body:
      string: '{"errors":["This endpoint has encountered an internal server error"]}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-name:
      - security_analytics
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '997'
      x-ratelimit-reset:
      - '3'
    status:
      code: 400
      message: Bad Request
version: 1
