interactions:
- request:
    body: '{"series": [{"metric": "test.distribution_metric.1580479129", "points":
      [[1580479069, [1.0]]], "type": "distribution", "host": "test.host.1580479129"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/distribution_points
  response:
    body:
      string: '{"status": "ok"}'
    headers:
      Content-Type:
      - text/json
      DD-POOL:
      - propjoe
    status:
      code: 202
      message: Accepted
version: 1
