interactions:
- request:
    body: '{"cases": [{"condition": "a > 0", "name": "test case", "status": "info"}],
      "isEnabled": true, "message": "Test rule generated via API", "name": "Test Rule
      1743153035", "options": {"evaluationWindow": 3600, "keepAlive": 3600, "maxSignalDuration":
      86400}, "queries": [{"distinctFields": [], "groupByFields": [], "name": "a",
      "query": "source:test"}], "tags": ["test:true", "env:test"], "type": "log_detection"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules
  response:
    body:
      string: '{"name":"Test Rule 1743153035","createdAt":1743156728662,"isDefault":false,"isPartner":false,"isEnabled":true,"isBeta":false,"isDeleted":false,"isDeprecated":false,"queries":[{"query":"source:test","groupByFields":[],"hasOptionalGroupByFields":false,"distinctFields":[],"aggregation":"count","name":"a","dataSource":"logs"}],"options":{"evaluationWindow":3600,"detectionMethod":"threshold","maxSignalDuration":86400,"keepAlive":3600},"cases":[{"name":"test
        case","status":"info","notifications":[],"condition":"a \u003e 0"}],"message":"Test
        rule generated via API","tags":["env:test","test:true"],"hasExtendedTitle":false,"type":"log_detection","filters":[],"version":1,"id":"ns0-4ha-0kz","blocking":false,"metadata":{"entities":null,"sources":null},"creationAuthorId":1445416,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"updater":{"handle":"","name":""}}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-name:
      - security_analytics
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '999'
      x-ratelimit-reset:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules/ns0-4ha-0kz
  response:
    body:
      string: '{"name":"Test Rule 1743153035","createdAt":1743156728662,"isDefault":false,"isPartner":false,"isEnabled":true,"isBeta":false,"isDeleted":false,"isDeprecated":false,"queries":[{"query":"source:test","groupByFields":[],"hasOptionalGroupByFields":false,"distinctFields":[],"aggregation":"count","name":"a","dataSource":"logs"}],"options":{"evaluationWindow":3600,"detectionMethod":"threshold","maxSignalDuration":86400,"keepAlive":3600},"cases":[{"name":"test
        case","status":"info","notifications":[],"condition":"a \u003e 0"}],"message":"Test
        rule generated via API","tags":["env:test","test:true"],"hasExtendedTitle":false,"type":"log_detection","filters":[],"version":1,"id":"ns0-4ha-0kz","blocking":false,"metadata":{"entities":null,"sources":null},"creationAuthorId":1445416,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"updater":{"handle":"","name":""}}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-name:
      - security_analytics
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '998'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"cases": [{"condition": "a > 0", "name": "test case", "status": "info"}],
      "isEnabled": true, "message": "Test rule generated via API", "name": "Updated
      Rule 1743153035", "options": {"evaluationWindow": 3600, "keepAlive": 3600, "maxSignalDuration":
      86400}, "queries": [{"distinctFields": [], "groupByFields": [], "name": "a",
      "query": "source:test"}], "tags": ["test:true", "env:test"], "type": "log_detection"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules/ns0-4ha-0kz
  response:
    body:
      string: '{"name":"Updated Rule 1743153035","isEnabled":true,"queries":[{"query":"source:test","groupByFields":[],"hasOptionalGroupByFields":false,"distinctFields":[],"aggregation":"count","name":"a","dataSource":"logs"}],"options":{"evaluationWindow":3600,"detectionMethod":"threshold","maxSignalDuration":86400,"keepAlive":3600},"cases":[{"name":"test
        case","status":"info","notifications":[],"condition":"a \u003e 0"}],"message":"Test
        rule generated via API","tags":["env:test","test:true"],"hasExtendedTitle":false,"type":"log_detection","filters":[],"id":"ns0-4ha-0kz","version":2,"createdAt":1743156728662,"creationAuthorId":1445416,"updateAuthorId":1445416,"updatedAt":1743156729592,"isDefault":false,"blocking":false,"isBeta":false,"isDeleted":false,"isDeprecated":false,"metadata":{"entities":null,"sources":null}}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-name:
      - security_analytics
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '997'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules/ns0-4ha-0kz
  response:
    body:
      string: '{"error":{"code":"NotFound","message":"Threat detection rule not found:
        ns0-4ha-0kz"}}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-name:
      - security_analytics
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '998'
      x-ratelimit-reset:
      - '10'
    status:
      code: 404
      message: Not Found
version: 1
