interactions:
- request:
    body: '{"options": {"thresholds": {"critical": 200.0}}, "query": "THIS IS A BAD
      QUERY", "type": "metric alert"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/monitor/validate
  response:
    body:
      string: '{"errors":["The value provided for parameter ''query'' is invalid"]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-VERSION:
      - '35.2129440'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"options": {"thresholds": {"critical": 200.0}}, "query": "avg(last_1h):sum:system.net.bytes_rcvd{host:host0}
      > 200", "type": "metric alert"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/monitor/validate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - HtltRxB6FWULKbr8JD/35HKWhI+dqAFQg/rNpMbjeMOPUq5j5iWk+nIs8OwDOqUR
      X-DD-VERSION:
      - '35.2129440'
    status:
      code: 200
      message: OK
version: 1
