interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/security_monitoring/signals?filter%5Bfrom%5D=2025-03-28T09%3A48%3A05%2B00%3A00&filter%5Bquery%5D=%2A&filter%5Bto%5D=2025-03-28T10%3A48%3A05%2B00%3A00&page%5Bsize%5D=10&sort=-timestamp
  response:
    body:
      string: '{"data":[],"meta":{"elapsed":40,"request_id":"pddv1ChZmcTZ6UC00OVR2eV9mUFpzdnlTaW5RIisKG6GoW4kkIgv_EF8ff1Kd7QSfjHsxhGew-iMxZxIMSR0sPZ1zHds6RZgE","status":"done"}}

        '
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-name:
      - security_analytics
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '999'
      x-ratelimit-reset:
      - '4'
    status:
      code: 200
      message: OK
version: 1
