interactions:
- request:
    body: '{"type": "metric alert", "query": "THIS IS A BAD QUERY", "options": {"thresholds":
      {"critical": 200.0}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/monitor/validate
  response:
    body:
      string: '{"errors":["The value provided for parameter ''query'' is invalid"]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-VERSION:
      - '35.2127796'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"type": "metric alert", "query": "avg(last_1h):sum:system.net.bytes_rcvd{host:host0}
      > 200", "options": {"thresholds": {"critical": 200.0}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/monitor/validate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - SaHvyR/hQzhMjBxXmmuM76vwlwfocpgL0LhX3u6R0CFONYqUGm7Xe/7/HyTliTFX
      X-DD-VERSION:
      - '35.2127796'
    status:
      code: 200
      message: OK
version: 1
