interactions:
- request:
    body: '{"series": [{"host": "test.host.1580678524", "metric": "test.distribution_metric.1580678524",
      "points": [[1580678464, [1.0]]], "type": "distribution"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/distribution_points
  response:
    body:
      string: '{"status": "ok"}'
    headers:
      Content-Type:
      - text/json
      DD-POOL:
      - propjoe
    status:
      code: 202
      message: Accepted
version: 1
