trigger:
  batch: false
  branches:
    include:
    - master

pr:
  branches:
    include:
    - master

jobs:
- job: UnitTests
  pool:
    vmImage: "Ubuntu-16.04"
  strategy:
    matrix:
      Py36:
        PYTHON_VERSION: "3.6"
        TOXENV: "py36"
      Py37:
        PYTHON_VERSION: "3.7"
        TOXENV: "py37"
      Py38:
        PYTHON_VERSION: "3.8"
        TOXENV: "py38"
      Pypy3:
        PYTHON_VERSION: "pypy3"
        TOXENV: "pypy3"
      Lint:
        PYTHON_VERSION: "3.6"
        TOXENV: "flake8"
  steps:
  - task: UsePythonVersion@0
    displayName: Use python $(PYTHON_VERSION)
    inputs:
      versionSpec: $(PYTHON_VERSION)
  - script: pip install tox
    displayName: Install tox
  - script: tox
    displayName: Run unit tests
