name: Build

permissions:
  contents: write
  pull-requests: write

on:
  pull_request:
  release:
    types:
      - published

jobs:
  build_wheels:
    name: Build wheels on Ubuntu latest
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    environment: secure_publish_environment
    if: github.event_name == 'release' && github.event.action == 'published'
    steps:
      - uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0
        # Include all history and tags, needed for building the right version
        with:
          fetch-depth: 0

      - uses: actions/setup-python@e9aba2c848f5ebd159c070c61ea2c4e2b122355e # v2.3.4
        name: Install Python
        with:
          python-version: '3.9'

      - name: Install datadog_checks_dev
        run: |
          python -m pip install datadog_checks_dev[cli]==20.0.1

      # Publish wheels to PyPI using Trusted Publishers.
      # https://docs.pypi.org/trusted-publishers/using-a-publisher/
      # This job needs to run from within the pypi-datadog-checks-base environment. PyPi
      # validates the workflow file name, environment and repository the request is
      # comming from to provide the valid JWT token.
      - name: Release base package to PyPI
        uses: pypa/gh-action-pypi-publish@76f52bc884231f62b9a034ebfe128415bbaabdfc # v1.12.4
        with:
          skip-existing: true
